

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>教师主页</title>

    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CORE CSS-->    
    <link href="/home/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
<div class="navbar-fixed">

<nav>
  <div class="nav-wrapper light-blue">
    <a href="/teachers/" class="brand-logo" style="margin-left: 20px;">教师主页</a>
    <ul class="right hide-on-med-and-down">
      <li>登录成功，欢迎您，<%=session['teacher_name']%>：）</li>
      <li><%= link_to "退出登录", { :controller => 'teachers',:action => 'destroy' } %></li>
    </ul>
  </div>
</nav>
</div>
<div class="container" style="box-shadow: 0 0 5px lightblue; padding: 20px;">
    <div class="row">
        <div class="col s12">
            <h5><%=session['teacher_name']%>的课程</h5>
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: name %>
           <% end -%>
                <table class="highlight">
                    <thead>
                      <tr>
                          <th>课程号</th>
                          <th>课程名</th>
                          <th>创建时间</th>
                          <th>课程主页</th>
                          <th>删除</th>
                      </tr>
                    </thead>

                    <tbody>
                     <% @my_courses.each do |course| %>
                        <tr>
                            <td><%= course.id %></td>
                            <td><%= course.name %></td>
                            <td><%= course.created_at %></td>
                            <td><%= link_to "进入", courses_path(:page => course.id) %></td>
                            <td><%= link_to "删除", courses_delete_path(:id => course.id), method: :get %></td>
                        </tr>
                    <% end %>
                    </tbody>
              </table>
              <br/>
             <br/>
             <h5>添加课程</h5>
             <form class="col s12" method='post' action='/courses/addcourse'>
              <div class="row">
                <div class="input-field col s6 ">
                  <input id="icon_prefix"  type="text" name='name'>
                  <label for="icon_prefix">课程名</label>
                </div>
                <div class="input-field col s6">
                   <button class="btn waves-effect waves-light light-blue" type="submit" name="action">提交
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </form>
        
        </div>
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/home/js/materialize.min.js"></script>

</body>

</html>