
<%= form_for :solution, :method => 'post', :url => {:action => 'create'} do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>
      <ul>
      <% @solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="actions">
    <% key=session[:secret_key] %>
    <% assignment_id=" " %>
    <% assignment_content=" " %>
    <% assi=Assignment.find_by_sql("select * from assignments where secret_key='#{key}'") %>
    <% assi.each do |ass| %>
      <% assignment_id=ass.id  %>
      <% assignment_content=ass.content %>
    <% end %>
    <p>
       <%= f.hidden_field  :assignment_id, :value => assignment_id %>
    </p>
    <p>
        <h3>content</h3>
        <h3><%= assignment_content %></h3>
    </p>
    <p>
       <%= f.label :student_answer ,""%><br>
       <%= f.text_area :student_answer %>
    </p>
    <p>
       <%= f.label :student_id %><br>
       <%= f.text_area :student_id %>
    </p>
     <p>
       <%= f.label :student_name %><br>
       <%= f.text_area :student_name %>
    </p>
    <p>
       <%= f.submit %>
    </p>

  </div>
<% end %>


