<h1>score Solution</h1>

<p id="session"><%= session[:secret_key] %></p>

<h2>the score of your answer is:</h2>
<% score_val=params[:value] %>
<h2><%= score_val %></h2>

<% if flash[:warning] %>
  <div class="warning"><%= flash[:warning] %></div>
<% end %>


<p><%= render 'result' %></p><br>


<%= link_to "返回首页", sessions_delete_key_path  %>