<p id="notice"><%= notice %></p>

<% if flash[:warning] %>
  <div class="warning"><%= flash[:warning] %></div>
<% end %>

<table>
    <thead>
      <tr>
        <th>assignment_id</th><!--new-->
        <th>student_answer</th><!--new-->
        <th>student_id</th><!--new-->
        <th>score</th><!--new-->
      </tr>
    </thead>
    <tbody>
      <% assi=Solution.find_by_sql("select * from solutions") %>
      <% assi.each do |ass| %>
        <tr>
          <td><%= ass.assignment_id %></td><!--new-->
          <td><%= ass.student_answer %></td> <!--new-->
          <td><%= ass.student_id %></td> <!--new-->
          <td><%= ass.score %></td> <!--new-->
        </tr>
      <% end %>
    </tbody>
</table>