<%= form_for :lecture, id: "add_product", url: admins_products_path do |f|%>
	<table border="1">
		<tr>
			<td><%= f.label :course_id %></td>
			<td><%= f.text_field :course_id %></td>
		</tr>	
		<tr>
			<td><%= f.label :lecture_name %></td>
			<td><%= f.file_field :lecture_name %> </td>
		</tr>
		<tr>
			<td><%= f.label :url %></td>
			<td><%= f.text_field :url %></td>
		</tr>
		<tr>
			<td><%= f.label :secret_key %></td>
			<td><%= f.text_area :secret_key %></td>
		</tr>
		<tr>
			<td><input type="submit" value="提交"></td>
			<%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lectures_path, :class => 'btn btn-default' %>
		</tr>
	</table>
<% end %>